<h1>Admin</h1>
<div class="container">
	<div class="row">
		<div class="col-4">
			<%- include("partials/datatable", { dataType: "User", data: userList}); %>
		</div>
		<div class="col-4">
			<%- include("partials/datatable", { dataType: "EntityType", data: entityTypeList}); %>
		</div>
		<div class="col-4">
			<%- include("partials/datatable", { dataType: "EntityStateType", data: entityStateTypeList}); %>
		</div>
		<div class="col-4">
			<%- include("partials/datatable", { dataType: "Item", data: itemList}); %>
		</div>
		<div class="col-4">
			<%- include("partials/datatable", { dataType: "ItemSlot", data: itemSlotList}); %>
		</div>
		<div class="col-4">
			<%- include("partials/datatable", { dataType: "ItemEffect", data: itemEffectList}); %>
		</div>
	</div>
</div>
