<div class="form-group">
	<label for="inputEntityDefaultName">Entity Default Name</label>
	<input type="text" class="form-control" id="inputEntityDefaultName"
			aria-describedby="entityDefaultNameHelp" placeholder="Enter Entity Default Name"
			value="<%= (data) ? data.entityDefaultName : ""  %>">
	<small id="entityDefaultNameHelp" class="form-text text-muted">Entity Default Name</small>
</div>
<div class="form-group">
	<label for="inputEntityType">Entity Type</label><br>
	<select class="custom-select" aria-describedby="entityTypeHelp">
		<option value="0" <%= (data) ? ((data.EntityType == 0) ? "selected" : "") : ""  %>>entityType1</option>
		<option value="1" <%= (data) ? ((data.EntityType == 1) ? "selected" : "") : ""  %>>entityType2</option>
		<option value="2" <%= (data) ? ((data.EntityType == 2) ? "selected" : "") : ""  %>>entityType3</option>
		<option value="3" <%= (data) ? ((data.EntityType == 3) ? "selected" : "") : ""  %>>entityType4</option>
		<option value="4" <%= (data) ? ((data.EntityType == 4) ? "selected" : "") : ""  %>>entityType5</option>
		<option value="5" <%= (data) ? ((data.EntityType == 5) ? "selected" : "") : ""  %>>entityType6</option>
	</select>
	<small id="entityTypeHelp" class="form-text text-muted">Entity's Type</small>
</div>
<div class="form-group">
	<label for="inputEntityPictureId">Entity Picture ID</label>
	<input type="text" class="form-control" id="inputEntityPictureId"
			aria-describedby="entityPictureIdHelp" placeholder="Entity Picture ID"
			value="<%= (data) ? data.entityPictureId : ""  %>">
	<small id="entityPictureIdHelp" class="form-text text-muted">Entity Picture ID</small>
</div>
