<div class="form-group">
	<label for="inputItemName">Item Name</label>
	<input type="text" class="form-control" id="inputItemName" name="name"
			aria-describedby="itemNameHelp" placeholder="Enter Item Name"
			value="<%= (data) ? data.Name : ""  %>">
	<small id="itemNameHelp" class="form-text text-muted">Item Name</small>
</div>
<div class="form-group">
	<label for="inputItemPicture">Picture ID</label>
	<input type="text" class="form-control" id="inputItemPicture" name="pictureId"
			aria-describedby="itemPictureHelp" placeholder="Enter Picture ID"
			value="<%= (data) ? data.PictureId : ""  %>">
	<small id="itemPictureHelp" class="form-text text-muted">PictureID</small>
</div>
<div class="form-group">
	<label for="inputItemSlot">Item Slot</label><br>
	<select class="custom-select" aria-describedby="itemSlotHelp" name="itemSlot">
		<% for(var s in formData.itemSlots) { %>
			<option value="<%= formData.itemSlots[s].id %>" <%= (data) ? ((data.ItemSlotId == formData.itemSlots[s].id) ? "selected" : "") : ""  %>><%= formData.itemSlots[s].Name %></option>
		<% } %>
	</select>
	<small id="itemSlotHelp" class="form-text text-muted">Item Slot</small>
</div>
<div class="form-group">
	<label for="inputItemEffects">Item Effects</label><br>
	<select class="custom-select" aria-describedby="itemEffectsHelp" name="effectID">
        <% for(var s in formData.itemEffects) { %>
		<option value="<%= formData.itemEffects[s].id %>" <%= (data) ? ((data.ItemEffectId == formData.itemEffects[s].id) ? "selected" : "") : ""  %>><%= formData.itemEffects[s].EffectName %></option>
        <% } %>
	</select>
	<small id="itemEffectsHelp" class="form-text text-muted">Item Effects</small>
</div>
