<div class="form-group">
	<label for="inputMonsterDefaultName">Monster Default Name</label>
	<input type="text" class="form-control" id="inputMonsterDefaultName"
			aria-describedby="monsterDefaultNameHelp" placeholder="Enter Monster Default Name"
			value="<%= (data) ? data.monsterDefaultName : ""  %>">
	<small id="monsterDefaultNameHelp" class="form-text text-muted">Monster Default Name</small>
</div>
<div class="form-group">
	<label for="inputMonsterType">Monster Type</label><br>
	<select class="custom-select" aria-describedby="monsterTypeHelp">
		<option value="0" <%= (data) ? ((data.MonsterType == 0) ? "selected" : "") : ""  %>>monsterType1</option>
		<option value="1" <%= (data) ? ((data.MonsterType == 1) ? "selected" : "") : ""  %>>monsterType2</option>
		<option value="2" <%= (data) ? ((data.MonsterType == 2) ? "selected" : "") : ""  %>>monsterType3</option>
		<option value="3" <%= (data) ? ((data.MonsterType == 3) ? "selected" : "") : ""  %>>monsterType4</option>
		<option value="4" <%= (data) ? ((data.MonsterType == 4) ? "selected" : "") : ""  %>>monsterType5</option>
		<option value="5" <%= (data) ? ((data.MonsterType == 5) ? "selected" : "") : ""  %>>monsterType6</option>
	</select>
	<small id="monsterTypeHelp" class="form-text text-muted">Monster's Type</small>
</div>
<div class="form-group">
	<label for="inputMonsterPictureId">Monster Picture ID</label>
	<input type="text" class="form-control" id="inputMonsterPictureId"
			aria-describedby="monsterPictureIdHelp" placeholder="Monster Picture ID"
			value="<%= (data) ? data.monsterPictureId : ""  %>">
	<small id="monsterPictureIdHelp" class="form-text text-muted">Monster Picture ID</small>
</div>
