<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<img src="/img/monster/<%= entity.EntityType.PictureID %>.png" style="width:100%;"></img>
			<%= 60000 - (Date.now() - entity.LastInteract.getTime()) %><a class="btn btn-primary <%= (60000 - (Date.now() - entity.LastInteract.getTime()) > 0) ? "disabled" : "" %>" href="/entity/<%= entity.id %>/interact %>">Interact</a>
		</div>
		<div class="col-sm-4">
			<h3><%= entity.Name %></h3>
			<table class="table table-striped">
				<tr>
					<th>State</th>
					<th>Value</th>
					<th>Change</th>
				</tr>
				<% for(var v in entity.EntityStateValues) { %>
				<tr>
					<td><%= entity.EntityStateValues[v].EntityStateType.Name %></td>
					<td><%= entity.EntityStateValues[v].Value %></td>
					<td>
						<% if(updated[entity.EntityStateValues[v].EntityStateType.id] !== undefined) { %>
							<span style="color: <%= (updated[entity.EntityStateValues[v].EntityStateType.id] > -1) ? "green" : "red" %>"><%= (updated[entity.EntityStateValues[v].EntityStateType.id] > -1) ? "+" : "" %><%= updated[entity.EntityStateValues[v].EntityStateType.id] %></span>
						<% } else { %>
							<span>0</span>
						<% } %>
					</td>
				</tr>
				<% } %>
			</table>
		</div>
		<div class="col-sm-4">
			<h3>Items</h3>
			<table class="table table-striped">
				<tr>
					<th>Item</th>
					<th>Slot</th>
					<th>Time Remaining</th>
				</tr>
				<% for(var a in entity.ActiveItems) { %>
				<tr>
					<td><%= entity.ActiveItems[a].Item.Name %></td>
					<td><%= entity.ActiveItems[a].Item.ItemSlot.Name %></td>
					<td><span style="margin-right: 5px"><%= entity.ActiveItems[a].getRemainingTime() %></span><a class="btn btn-primary" href="/entity/<%= entity.id %>/item/remove/<%= entity.ActiveItems[a].id %>">Remove</a></td>
				</tr>
				<% } %>
			</table>
		</div>
	</div>
	<div class="row">
		<h3>Inventory</h3>
		<table class="table table-striped">
			<tr>
				<th>Icon</th>
				<th>Name</th>
				<th>Effect</th>
				<th>State</th>
				<th>Modifier</th>
				<th>Interval</th>
				<th>Duration</th>
				<th>Quantity</th>
				<th>Action</th>
			</tr>
			<% for(var i in inventory) { %>
			<tr>
				<td><img src="/img/item/<%= inventory[i].Item.PictureId %>.png" style="width:32px"></img></td>
				<td><%= inventory[i].Item.Name %></td>
				<td><%= inventory[i].Item.ItemEffect.EffectName %></td>
				<td><%= inventory[i].Item.ItemEffect.EntityStateType.Name %></td>
				<td><%= inventory[i].Item.ItemEffect.Offset %></td>
				<td><%= inventory[i].Item.ItemEffect.Interval %></td>
				<td><%= inventory[i].Item.ItemEffect.Duration %></td>
				<td><%= inventory[i].Count %></td>
				<td><a class="btn btn-primary" href="/entity/<%= entity.id %>/item/give/<%= inventory[i].Item.id %>">Give</a></td>
			</tr>
			<% } %>
		</table>
	</div>
</div>
